<div class="container">
  <div class="heroheader">
    <h1>
      <span>Primo club</span>
      specializzato in business online
    </h1>
    <p> Sperimenta un'esperienza esclusiva sulla nostra piattaforma dedicata, riservata solo ai membri selezionati.
      IL primo CLUB privato che ti permetterà di guadagnare online
      sin da subito.
    </p>
    <div class="discover">
      <app-btn-blue [text]="'Scopri di più'"></app-btn-blue>
      <app-btn-blue [text]="'Entra nel club'" [invert]="true"></app-btn-blue>
    </div>
  </div>


</div>
