.terms
{
  color: #95a1ac;
    background-color: #262d34;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'PRegular';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: lighter !important;
}
