.formazione-cont{
  min-height: 900px;
    background-color: #1a1f24;
    background-image: url(https://flutterflow.io/images/ent_HeroImage_v2_small2x.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 130px;
    padding-bottom: 210px;
    padding-right: 12%;
}

.cont{
  display: flex;
  flex-direction: column;
  width: 66.66666667%;
  padding: 4%;
}

.title{
  font-weight: 700;
  line-height: 86px;
  margin-top: 0;
    margin-bottom: 12px;
    font-size: 72px;
    color: #fff;
    text-align: left;
}

.up-title{
  text-align: left;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    color: #31bfae;
    margin-top: 10px;
    font-weight: 500;
}

.sub-title{
  -webkit-text-fill-color: transparent;
    background-image: linear-gradient(130deg, #ee8b60, #4b39ef);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 8px;
    text-align: left;
    letter-spacing: .5px;
}

a{
  margin-top: 30px;
  background-color: #31bfae;
    border: 0 solid #000;
    border-bottom: 2px solid #249689;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
    text-decoration: none;
    max-width: 181px;
    color: #fff;
    border-radius: 8px;
    padding: 15px 24px;
    font-size: 16px;
    transition: all .3s, opacity .2s;
}

.introduction{
  color: white;
  padding: 30px;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 85%;
}

.name{
  font-size: 30px;
  margin-bottom: 16px;

}

.introduction-desc{
  color: #31bfae;
  font-size: 18px;
  letter-spacing: .2px;
}

.int{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
