.btn
{
  max-width: 250px;
  color: #fff;
  background-color: #4b39ef;
  border-radius: 8px;
  padding: 15px 24px;
  font-size: 16px;
  transition: all .3s, opacity .2s;
  font-weight: 500;
  white-space: nowrap;
}
.btn-invert
{
  max-width: 300px;
  color: #4b39ef;
  background-color: #fff;
  margin-left: 0;
  font-weight: 500;
  display: inline-block;
  border-radius: 8px;
  padding: 15px 24px;
  font-size: 16px;
  transition: all .3s, opacity .2s;
  box-shadow: 1px 1px 4px rgba(20, 24, 27, .3);
}
.btn-invert:hover
{
  max-width: 300px;
  color: #4b39ef;
  background-color: #fff;
  margin-left: 0;
  font-weight: 500;
  display: inline-block;
  border-radius: 8px;
  padding: 15px 24px;
  font-size: 16px;
  transition: all .3s, opacity .2s;
  box-shadow: 1px 1px 4px rgba(20, 24, 27, .3);
  cursor: pointer;
}

.btn:hover{
  border: 2px solid #4b39ef;
  cursor: pointer;
  background-color: #3124a1;
}
