<div class="card">
<div class="first">
  <div class="background">
    <div class="profile"></div>
  </div>
</div>
<div class="second">
  <div class="cont-sec">
    <div class="costo">150/hr</div>
  </div>
  <div class="icons">
    <img src="" >
    <img src="" >
    <img src="" >
  </div>

</div>
<div class="third">
  <div class="title">Singualar Design</div>
  <div class="title-corso">Agency - United States & Hong Kong</div>
  <div class="title-desc">We specialize in building enterprise grade low code solution...</div>
</div>
</div>
