<div class="testimonial-container">
  <div class="qq">"Cea mai mare rată de succes din industrie..."</div>
  <div class="test-title">
    What our customers say
  </div>
  <div class="test-desc">
    Am instruit deja sute de antreprenori și proprietari de agenții pentru a atinge rezultate rapid și eficient. Cum am menționat înainte, nu mă crede pe cuvânt, vezi mai jos rezultatele generate de studenții noștri. 👀
  </div>

  <div class="im">
    <img src="https://flutterflow.io/images/9_21_ConidtionalsLogic3x-p-1080.png" alt="">
  </div>
</div>


<div class="gruppo">
  <div class="gruppo-title">
    Responsive Visibility</div>
  <div class="gruppo-desc">
    Giving our users the ability to create responsive apps was one of the most requested features.
  </div>
  <div class="gruppo-img">
    <img src="https://flutterflow.io/images/1_ResponsiveBreakpoints1.5x.png" alt="">
  </div>
</div>

<div class="gruppo-2">
  <div class="gruppo-title">
    Visual Action Builder</div>
  <div class="gruppo-desc-2">
    Launching the visual action builder made it much easier to implement and update complex action flows. Users could now also create conditions and use variables to trigger events.
  </div>
  <div class="gruppo-img">
    <img src="https://flutterflow.io/images/actions_Visual2x-p-1080.png" alt="">
  </div>
</div>

<div class="gruppo">
  <div class="gruppo-title">

Project Comments</div>
  <div class="gruppo-desc">
    Take collaboration to the next level with comments! You can now use project comments to share and receive feedback with your project team or clients.  🔥
  </div>
  <div class="gruppo-img">
    <img src="https://flutterflow.io/images/9_7_api_Improvements2x-p-1080.png" alt="">
  </div>
</div>
