<div class="footer-container">
<div class="first-section">
  <div class="logo">
    <div class="logo-img"></div>
    <div class="nameclub">MOON CLUB</div>
  </div>
  <div class="desc">Building applications has never been easier.</div>
</div>

<div class="second-section">
  <div class="col">
    <div class="title-col">ABOUT US</div>
    <div class="row">Chi siamo</div>
    <div class="row">Casi studio</div>
    <div class="row">Modelli di business</div>
    <div class="row">Perchè sceglierci</div>
  </div>
  <div class="col">
    <div class="title-col">CONTACT</div>
    <div class="row">Contatti</div>
    <div class="row">Domande comuni</div>
    <div class="row">Il nostro gruppo</div>
    <div class="row">Supporto</div>
  </div>
  <div class="col">
    <div class="title-col">Membership</div>
    <div class="row">Gruppo Telegram</div>
    <div class="row">Formazione</div>
    <div class="row">Live</div>
    <div class="row">Servizi</div>
  </div>
</div>

<div class="third-section">
  <div class="socials">
    <div class="link">
      <a href="#"><img src="https://flutterflow.io/images/social_twitter.svg" alt=""></a>
    </div>
    <div class="link">
      <a href="#"><img src="https://flutterflow.io/images/social_linkedIn.svg" alt=""></a>
    </div>
    <div class="link">
      <a href="#"><img src="https://flutterflow.io/images/logo-youtube.svg" alt=""></a>
    </div>
    <div class="link">
      <a href="#"><img src="https://flutterflow.io/images/logo-reddit.svg" alt=""></a>
    </div>
  </div>
</div>
</div>

