

<div class="bs-model">
  <div class="bs-model--question">Why FlutterFlow?</div>
  <div class="bs-model--title">Transform your development process with Flutter</div>
  <div class="bs-model--desc">Flutter is a framework for building beautiful, natively compiled, multi-platform applications.</div>
  <div class="main">
    <app-card-collage></app-card-collage>
    <div class="info">
      <img src="https://flutterflow.io/images/ent_mobileApp2x.png" alt="">
    </div>
  </div>

</div>

<div class="bs-model">
  <div class="bs-model--question">Why FlutterFlow?</div>
  <div class="bs-model--title">Accelerate innovation in any industry</div>
  <div class="bs-model--desc">Example applications that can be created using FlutterFlow</div>
  <div class="bs-model__cards">
    <div class="card">
      <div class="icon"><img src="https://flutterflow.io/images/bankMoney.svg" alt=""></div>
        <div class="item-title">BFSI</div>
        <div class="item-cont">
          <div class="item">Mobile Banking</div>
          <div class="item">‍Service Journeys</div>
          <div class="item">Kiosk Applications</div>
          <div class="item">Internal Applications</div>
        </div>
    </div>
    <div class="card">
      <div class="icon"><img src="https://flutterflow.io/images/retailCart.svg" alt=""></div>
        <div class="item-title">Manufacturing</div>
        <div class="item-cont">
          <div class="item">Mobile Banking</div>
          <div class="item">‍Service Journeys</div>
          <div class="item">Kiosk Applications</div>
          <div class="item">Internal Applications</div>
        </div>
    </div>
    <div class="card">
      <div class="icon"><img src="https://flutterflow.io/images/manufacturingFactory.svg" alt=""></div>
        <div class="item-title">Retail</div>
        <div class="item-cont">
          <div class="item">Mobile Banking</div>
          <div class="item">‍Service Journeys</div>
          <div class="item">Kiosk Applications</div>
          <div class="item">Internal Applications</div>
        </div>
    </div>
    <div class="card">
      <div class="icon"><img src="https://flutterflow.io/images/digitalNativeResponsive.svg" alt=""></div>
        <div class="item-title">Digital Natives</div>
        <div class="item-cont">
          <div class="item">Mobile Banking</div>
          <div class="item">‍Service Journeys</div>
          <div class="item">Kiosk Applications</div>
          <div class="item">Internal Applications</div>
        </div>
    </div>
  </div>
</div>




