<div class="cc">
  <div class="cc__card">
    <div class="icon"><img src="https://flutterflow.io/images/multiPlatformResponsive.svg" alt=""></div>
    <div class="title">High Quality Applications With Fewer Crashes</div>
    <div class="desc">Dart (the underlying programming language) is a statically typed language with sound null safety.</div>
  </div>
  <div class="cc__card">
    <div class="icon"><img src="https://flutterflow.io/images/alertCrash.svg" alt=""></div>
    <div class="title">High Quality Applications With Fewer Crashes</div>
    <div class="desc">Dart (the underlying programming language) is a statically typed language with sound null safety.</div>
  </div>
  <div class="cc__card">
    <div class="icon"><img src="https://flutterflow.io/images/downtimeReductionTrend.svg" alt=""></div>
    <div class="title">High Quality Applications With Fewer Crashes</div>
    <div class="desc">Dart (the underlying programming language) is a statically typed language with sound null safety.</div>
  </div>
  <div class="cc__card">
    <div class="icon"><img src="https://flutterflow.io/images/quickSpeedTime.svg" alt=""></div>
    <div class="title">High Quality Applications With Fewer Crashes</div>
    <div class="desc">Dart (the underlying programming language) is a statically typed language with sound null safety.</div>
  </div>
</div>
