

<div class="all">
<div class="testimonial-container">
  <div class="test-title">
    What our customers say
  </div>
  <div class="test-desc">
    Testimonials from users
  </div>
</div>
<div class="case">
  <div class="container-study">
    <div class="pro">
      <img src="https://flutterflow.io/images/blobOrange4x.png" loading="lazy" width="180" alt="" class="back">
      <img src="https://flutterflow.io/images/testimonial_92x.png" loading="lazy" width="140" alt="" class="useravatar">
    </div>
    <div class="name">Ganesh SP</div>
    <div class="job">Engineering - Atlassian</div>
    <div class="desc">"I had quickly created a working demo of an app in 2 hours and got a major deal thanks to @flutterflow."</div>
  </div>

  <div class="container-study">
    <div class="pro">
      <img src="https://flutterflow.io/images/blobGreen4x.png" loading="lazy" width="180" alt="" class="back">
      <img src="https://flutterflow.io/images/testimonial_92x.png" loading="lazy" width="140" alt="" class="useravatar">
    </div>
    <div class="name">Ganesh SP</div>
    <div class="job">Engineering - Atlassian</div>
    <div class="desc">"I had quickly created a working demo of an app in 2 hours and got a major deal thanks to @flutterflow."</div>
  </div>
  <div class="container-study">
    <div class="pro">
      <img src="https://flutterflow.io/images/blobOrange4x.png" loading="lazy" width="180" alt="" class="back">
      <img src="https://flutterflow.io/images/testimonial_92x.png" loading="lazy" width="140" alt="" class="useravatar">
    </div>
    <div class="name">Ganesh SP</div>
    <div class="job">Engineering - Atlassian</div>
    <div class="desc">"I had quickly created a working demo of an app in 2 hours and got a major deal thanks to @flutterflow."</div>
  </div>
</div>
<div class="case">
  <div class="container-study">
    <div class="pro">
      <img src="https://flutterflow.io/images/blobOrange4x.png" loading="lazy" width="180" alt="" class="back">
      <img src="https://flutterflow.io/images/testimonial_92x.png" loading="lazy" width="140" alt="" class="useravatar">
    </div>
    <div class="name">Ganesh SP</div>
    <div class="job">Engineering - Atlassian</div>
    <div class="desc">"I had quickly created a working demo of an app in 2 hours and got a major deal thanks to @flutterflow."</div>
  </div>

  <div class="container-study">
    <div class="pro">
      <img src="https://flutterflow.io/images/blobGreen4x.png" loading="lazy" width="180" alt="" class="back">
      <img src="https://flutterflow.io/images/testimonial_92x.png" loading="lazy" width="140" alt="" class="useravatar">
    </div>
    <div class="name">Ganesh SP</div>
    <div class="job">Engineering - Atlassian</div>
    <div class="desc">"I had quickly created a working demo of an app in 2 hours and got a major deal thanks to @flutterflow."</div>
  </div>
  <div class="container-study">
    <div class="pro">
      <img src="https://flutterflow.io/images/blobOrange4x.png" loading="lazy" width="180" alt="" class="back">
      <img src="https://flutterflow.io/images/testimonial_92x.png" loading="lazy" width="140" alt="" class="useravatar">
    </div>
    <div class="name">Ganesh SP</div>
    <div class="job">Engineering - Atlassian</div>
    <div class="desc">"I had quickly created a working demo of an app in 2 hours and got a major deal thanks to @flutterflow."</div>
  </div>
</div>
</div>
