<div class="about">
  <div class="desk">
    <div class="story">
      <div class="text">Storyboarding</div>
      <div class="btn">New</div>
    </div>
    <div class="desc">
      <div class="title">Optimize your user flow</div>
      <div class="description">Our new Storyboard view allows you to visualize the design and navigation of your entire application. By mapping out the screens and user interactions, you can ensure that your app's navigation is intuitive and user-friendly. Storyboards can also help you identify and resolve potential navigation issues or dead-ends.</div>
    </div>

      <div class="video">
        <video src=""></video>
            </div>

  </div>
</div>
