<div class="quote">
  <div class="quote-cc">
    <div class="text">“FlutterFlow provides tooling that helps real world developers & users build apps using it ... it’s a straightforward, easy to use tool that can generate very powerful results. FlutterFlow brings the power of a rich platform to everybody.”</div>
    <div class="card">
      <div class="profile">
        <img src="https://flutterflow.io/images/TimSneath2x.png" alt="" >
      </div>
      <div class="desc">
        <div class="name">Tim Sneath</div>
        <div class="job">Director of Product for Flutter & Dart, Google</div>
      </div>
    </div>
  </div>
</div>
